# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/

# Logs
logs/
*.log

# Jekyll
_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo

# API Keys
.env
*.key

# Data backups
*.bak
